<input type="hidden" #selection>

<div class="card-container">
    <button class="card card-small" routerLink="create" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>New Product</span>
    </button>



<!--<div class="container">
<div>
    <a class="card" routerLink="create" id="addbtn" >    
        <span>AddNew
            
        </span>
        </a>
</div>-->
<div>
    <table id="datatable" >
        <thead>
            <tr>
                <th>Mobile Series</th>
                <th>Brand</th>
                <th>Stock</th>
                <th>Latest Price</th>
                
            </tr>
        </thead>
        <tbody>
<tr *ngFor= "let p of productData">
    <td>{{p.id}}</td>
    <td>{{p.name}}</td>
    <td>{{p.quantity}}</td>
    <td>{{p.price}}</td>
    <td><button type="button" (click)="view()">View</button> | <button>Delete</button></td>
</tr>
        </tbody>
    </table>
</div>
</div>
